<!DOCTYPE html>
<html>
<head>
<title>Joe Bloggs - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{{asset('style.css')}}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{{asset("./images/headshot.jpg")}}" alt="Moi" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">{{prenom}} {{ nom |upper}}</h1>
			<h2 class="quickFade delayThree"> Étudiante en DUT MMI</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>@ : <a href="mailto:joe@bloggs.com" target="_blank">nina.haye3@gmail.com</a></li>
				<li>site : <a href="http://www.bloggs.com">https://nina-coupat-haye.yo.fr/</a></li>
				<li>tel : 06 14 41 32 50</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>PROFIL</h1>
				</div>
				
				<div class="sectionContent">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in, porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>EXPÉRIENCES PRO</h1>
			</div>
			
			<div class="sectionContent">
				
				    {% for experience in experiences %}
				        	{{ experience.getEntreprise() }}<br/>
				        	{{ experience.getPoste() }}<br/>
				        	{{ experience.getLieu() }}<br/>
				        	{{ experience.getDateDebut()  | date("y/m/d") }} -
				        	{{ experience.getDateFin()  | date("y/m/d") }}<br/>
				
				<a href="{{ path('edit_experience',{ 'id':experience.getId()} )}}" target="_blank">Edite</a>
				<a href="{{ path('remove_experience',{ 'id':experience.getId()} )}}" target="_blank">Remove</a>

				<br/><br/>
			
				{% endfor %}
				
				<a href="{{path('create_experience')}}" target="_blank">Create</a>
				<a href="{{path('valid_experience')}}" target="_blank">Valide</a>


			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>COMPETENCES</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					{% for i in 1..8 %}
					    <li>A Key Skill {{i}}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>FORMATIONS</h1>
			</div>
			
			<div class="sectionContent">
			
				{% for formation in formations %}
				        	{{ formation.getName() }}<br/>
				        	{{ formation.getLieu() }}<br/>
				        	{{ formation.getDateDebut()  | date("y/m/d") }} -
				        	{{ formation.getDateFin()  | date("y/m/d") }}<br/>
				      
					<a href="{{ path('edit_formation',{ 'id':formation.getId()} )}}" target="_blank">Edite</a>
					<a href="{{ path('remove_formation',{ 'id':formation.getId()} )}}" target="_blank">Remove</a>

					<br/><br/>
			
				{% endfor %}
				
				<a href="{{path('create_formation')}}" target="_blank">Create</a>
				<a href="{{path('valid_formation')}}" target="_blank">Valide</a>
			
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>LOISIRS</h1>
			</div>
			
			<div class="sectionContent">
				
				    {% for loisir in loisirs %}
				    	
				    	{{ loisir.getName() }}<br/>
				        <i>{{ loisir.getComment() }}</i><br/> 
				        <a href="{{ path('edit_loisir',{ 'id':loisir.getId()} )}}" target="_blank">Edite</a>
						<a href="{{ path('remove_loisir',{ 'id':loisir.getId()} )}}" target="_blank">Remove</a>

						<br/><br/>
			
					{% endfor %}
				
				<a href="{{path('create_loisir')}}" target="_blank">Create</a>
				<a href="{{path('valid_loisir')}}" target="_blank">Valide</a>

			</div>
			<div class="clear"></div>
		</section>
		
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>